<h1>ようこそ</h1>
<div>
  <div>
    <p>"<strong><%= current_user.email %></strong>"さん.</p>
    <%= link_to "ログアウト", logout_path, method: :delete %>
  </div>
  <div>
    <h3>新しい映画をMemo</h3>
    <%= link_to "新規Memo作成", new_movie_path %>
  </div>
  <div>
    <h3>メモリーをcheck</h3>
    <%= link_to "Memo一覧へ", movies_path %>
  </div>
</div>