<div class="container">
  <div class="card">
    <div style="padding: 30px;">
      <h1> Movieメモリとは</h1>
    </div>
      <h3>観た映画の記憶（メモリー）をMemoすることで、<br>
      あなたの思い出を記憶し過去にこんな映画観たな、<br>
      またあの映画観たいな等様々なワクワクを思い出させてくれる。<br>
      使い方は自由!!映画の感想でも出演している役者さんでもあらすじでも<br>
      誰とどこの映画館で!!あなたの記憶を思い出すきっかけになる事ならOK<br>
      そんなアプリケーションです。
      </h3>
　</div>
</div>