<footer>
  <div class='container mt-5'>
    <div class='row'>
      <div class='mx-auto'>
      </div>
      <% if user_signed_in? %>
      <span>お問い合わせはこちらから</span>
      <% end %>
      <% end %>
    </div>
  </div>
</footer>